// Colores 
$primary-color: #FF9155;
$secondary-color: #ED717A;
$tertiary-color: #BE6592;
$quaternary-color: #816194;
$quinary-color: #4A587D;
$senary-color: #2F4858;


.about-me{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        width: 800px;
        height: 400px;
        background-color: #EEEEEE;
        border-radius: 15px;

        
        .photo{
            display: block;
            position: absolute;
            left: 10px;

            img{
                width: 300px;
            }
        }

        .message-container{
            position: absolute;
            width: 490px;
            height: 400px;
            right: 0px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .first-message{
            position: absolute;
            top: 40px;
            font-size: 40px;
            font-weight: bold;
        }
        
        .description{
            display: block;
            position: absolute;
            text-align: justify;
            line-height: 30px;
            margin: 30px;
        }

        .button-cv{
            display: flex;
            position: absolute;
            justify-content: space-around;
            align-items: center;
            height: 40px;
            width: 150px;
            bottom: 50px;
            font-size: 18px;
            text-align: center;
            background-color: $quaternary-color;
            border: 1px solid black;
            border-radius: 5px;
            color: white;

            i{
                font-size: 20px;
            }

            &:hover{
                background-color: $tertiary-color;
            }
        }

        
    }

}